<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.generator.AdCustomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.app.generator.Ad">
        <id column="ad_id" property="adId"/>
        <result column="ad_type" property="adType"/>
        <result column="ad_img" property="adImg"/>
        <result column="ad_state" property="adState"/>
        <result column="ad_data_id" property="adDataId"/>
        <result column="ad_data_type" property="adDataType"/>
        <result column="add_time" property="addTime"/>
        <result column="ad_sort" property="adSort"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ad_id, ad_type, ad_img, ad_state, ad_data_id, ad_data_type, add_time, ad_sort
    </sql>

    <select id="selectPage" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from g_ad
        where del = 0
        <if test=" param.search1 != ''">
            and g_ad.name LIKE CONCAT('%',#{param.search1},'%')
        </if>

    </select>
</mapper>
