<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.generator.CmsCateCustomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.app.generator.CmsCate">
        <id column="cate_id" property="cateId"/>
        <result column="cate_name" property="cateName"/>
        <result column="cate_sort" property="cateSort"/>
        <result column="cate_state" property="cateState"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cate_id, cate_name, cate_sort, cate_state
    </sql>

    <select id="selectPage" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from g_cms_cate
        where del = 0
        <if test=" param.search1 != ''">
            and g_cms_cate.name LIKE CONCAT('%',#{param.search1},'%')
        </if>

    </select>
</mapper>
