<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.generator.MathMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.app.generator.Math">
        <id column="math_id" property="mathId"/>
        <result column="share_id" property="shareId"/>
        <result column="sotr" property="sotr"/>
        <result column="num" property="num"/>
        <result column="state" property="state"/>
        <result column="log_id" property="logId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        math_id, share_id, sotr, num, state, log_id
    </sql>

</mapper>
