<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.generator.PdLogCustomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.app.generator.PdLog">
        <id column="lg_id" property="lgId"/>
        <result column="lg_member_id" property="lgMemberId"/>
        <result column="lg_member_name" property="lgMemberName"/>
        <result column="lg_admin_name" property="lgAdminName"/>
        <result column="lg_type" property="lgType"/>
        <result column="lg_av_amount" property="lgAvAmount"/>
        <result column="lg_freeze_amount" property="lgFreezeAmount"/>
        <result column="lg_add_time" property="lgAddTime"/>
        <result column="lg_desc" property="lgDesc"/>
        <result column="lg_from_data" property="lgFromData"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        lg_id, lg_member_id, lg_member_name, lg_admin_name, lg_type, lg_av_amount, lg_freeze_amount, lg_add_time, lg_desc, lg_from_data
    </sql>

    <select id="selectPage" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from g_pd_log
        where del = 0
        <if test=" param.search1 != ''">
            and g_pd_log.name LIKE CONCAT('%',#{param.search1},'%')
        </if>

    </select>
</mapper>
