<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.generator.SystemmsgUserCustomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.app.generator.SystemmsgUser">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="notice_id" property="noticeId"/>
        <result column="is_read" property="isRead"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, notice_id, is_read
    </sql>

    <select id="selectPage" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from g_systemmsg_user
        where del = 0
        <if test=" param.search1 != ''">
            and g_systemmsg_user.name LIKE CONCAT('%',#{param.search1},'%')
        </if>

    </select>
</mapper>
