<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.admin.generator.SysPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.admin.generator.SysPermission">
        <id column="pid" property="pid"/>
        <result column="father" property="father"/>
        <result column="resources" property="resources"/>
        <result column="title" property="title"/>
        <result column="icon" property="icon"/>
        <result column="type" property="type"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="memo" property="memo"/>
        <result column="state" property="state"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pid, father, resources, title, icon, type, create_time, update_time, memo, state
    </sql>

</mapper>
