<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.admin.generator.TshareLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.admin.generator.TshareLog">
        <id column="id" property="id"/>
        <result column="share_url" property="shareUrl"/>
        <result column="user_id" property="userId"/>
        <result column="account_id" property="accountId"/>
        <result column="share_id" property="shareId"/>
        <result column="forward_content" property="forwardContent"/>
        <result column="platform" property="platform"/>
        <result column="share_status" property="shareStatus"/>
        <result column="income" property="income"/>
        <result column="income_type" property="incomeType"/>
        <result column="income_status" property="incomeStatus"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, share_url, user_id, account_id, share_id, forward_content, platform, share_status, income, income_type, income_status, create_time, update_time
    </sql>

    <select id="getUrlById" resultType="java.lang.String" parameterType="java.lang.String">
    SELECT
        share_url
    FROM
        t_share_log
    WHERE
        share_id = #{shareId} and share_status = '0'
    </select>

</mapper>
