<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.generator.CoinLogMapper">

   <select id="getAllCount" resultType="java.lang.Integer">
        SELECT
        SUM(p.`log_av_coin`)
        FROM
        g_share g
        INNER JOIN
        g_share_log h
        ON g.`share_id` = h.`share_id`
        INNER JOIN g_coin_log p
        ON p.`log_id` = h.`log_id`
        WHERE g.`share_id` = #{shareId}
        and h.is_pass != 2
        ORDER BY g.`share_id` DESC


   </select>

</mapper>
