<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.custom.ShareCustomMapper">

    <resultMap id="BaseResultMap" type="com.jokerdata.parames.vo.MonetListVo">
        <id column="share_id" property="shareId"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="account_id" property="accountId"/>
        <result column="share_content" property="shareContent"/>
        <result column="share_image" property="shareImage"/>
        <result column="share_type" property="shareType"/>
        <result column="share_url" property="shareUrl"/>
        <result column="share_coin" property="shareCoin"/>
        <result column="share_num" property="shareNum"/>
        <result column="have_shared_num" property="haveSharedNum"/>
        <result column="total_coin" property="totalCoin"/>
        <result column="is_original" property="isOriginal"/>
        <result column="add_time" property="addTime"/>
        <result column="tag_id" property="tagId"/>
        <result column="tag_name" property="tagName"/>
        <result column="share_state" property="shareState"/>
        <result column="share_extra_coin" property="shareExtraCoin"/>
        <result column="share_status" property="shareStatus"/>
        <result column="share_video" property="shareVideo"/>
        <result column="wb_id" property="wbId"/>
        <result column="see_num" property="seeNum"/>
        <result column="share_recommend" property="shareRecommend"/>
        <result column="share_num_true" property="shareNumTrue"/>
        <result column="original_coin" property="originalCoin"/>
        <result column="from_app" property="fromApp"/>
        <result column="expires" property="expires"/>
        <result column="json" property="json"/>
        <result column="cancel_nums" property="cancelNums"/>
        <result column="background_image" property="backgroundImage"/>
        <result column="short_url" property="shortUrl"/>
        <result column="share_img" property="shareImg"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        share_id, user_id, user_name, account_id, share_content, share_image, share_type, share_url, share_coin, share_num, have_shared_num, total_coin, is_original, add_time, tag_id, tag_name, share_state, share_extra_coin, share_status, share_video, wb_id, see_num, share_recommend, share_num_true, original_coin, from_app, expires, json, cancel_nums, background_image, short_url, share_img
    </sql>

    <select id="selectPage" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from g_share
        where del = 0
        <if test=" param.search1 != ''">
            and g_share.name LIKE CONCAT('%',#{param.search1},'%')
        </if>

    </select>

    <select id="moneyList" resultMap="BaseResultMap">

        SELECT share_id,a.user_id,user_name,a.account_id,share_content,share_image,share_state,share_video,wb_id,account_avatar,avatar_hd,a.add_time,
        share_coin,share_num,have_shared_num,total_coin,is_original,share_num_true,share_status,share_type,json,background_image
        FROM g_share a
        RIGHT JOIN g_user_account b
        ON a.`account_id` = b.account_id
        WHERE a.share_state = 0
        AND a.share_status = 1


    </select>

    <select id="tuiJianList" resultMap="BaseResultMap">

        SELECT share_id,a.user_id,user_name,a.account_id,share_content,share_image,share_state,share_video,wb_id,account_avatar,avatar_hd,a.add_time,
        share_coin,share_num,have_shared_num,total_coin,is_original,share_num_true,share_status,share_type,json,background_image
        FROM g_share a
        RIGHT JOIN g_user_account b
        ON a.`account_id` = b.account_id
        WHERE a.share_state = 0
        AND a.share_recommend = 1


    </select>
</mapper>
