<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.custom.SystemCustomMsgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.app.generator.SystemMsg">
        <id column="notice_id" property="noticeId"/>
        <result column="notice_type" property="noticeType"/>
        <result column="notice_content" property="noticeContent"/>
        <result column="is_new" property="isNew"/>
        <result column="author_name" property="authorName"/>
        <result column="add_time" property="addTime"/>
        <result column="type" property="type"/>
        <result column="data" property="data"/>
        <result column="is_all" property="isAll"/>
        <result column="is_base64" property="isBase64"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        notice_id, notice_type, notice_content, is_new, author_name, add_time, type, data, is_all, is_base64
    </sql>

    <select id="getMsgList" resultMap="BaseResultMap">
        SELECT a.* FROM g_system_msg a

        WHERE
        (a.`data` = #{userId}  OR a.`is_all` = 0) AND a.`notice_type` = "system"
        ORDER BY a.`notice_id` DESC
    </select>

</mapper>
