<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.generator.AdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.app.generator.Admin">
        <id column="admin_id" property="adminId"/>
        <result column="admin_name" property="adminName"/>
        <result column="admin_password" property="adminPassword"/>
        <result column="admin_logintime" property="adminLogintime"/>
        <result column="admin_loginnum" property="adminLoginnum"/>
        <result column="admin_avatar" property="adminAvatar"/>
        <result column="admin_state" property="adminState"/>
        <result column="admin_is_super" property="adminIsSuper"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        admin_id, admin_name, admin_password, admin_logintime, admin_loginnum, admin_avatar, admin_state, admin_is_super
    </sql>

    <select id="selectPage" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from g_admin
        where del = 0
        <if test=" param.search1 != ''">
            and g_admin.name LIKE CONCAT('%',#{param.search1},'%')
        </if>

    </select>
</mapper>
