<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.generator.ArticleCustomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.app.generator.Article">
        <id column="article_id" property="article_id"/>
        <result column="cate_id" property="cate_id"/>
        <result column="article_name" property="article_name"/>
        <result column="article_content" property="article_content"/>
        <result column="article_code" property="article_code"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        article_id, cate_id, article_name, article_content, article_code
    </sql>

    <select id="selectPage" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from g_article
        where del = 0
        <if test=" param.search1 != ''">
            and g_article.name LIKE CONCAT('%',#{param.search1},'%')
        </if>

    </select>
</mapper>
