<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.generator.CmsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.app.generator.Cms">
        <id column="cms_id" property="cmsId"/>
        <result column="cms_title" property="cmsTitle"/>
        <result column="cms_author" property="cmsAuthor"/>
        <result column="cate_id" property="cateId"/>
        <result column="cate_name" property="cateName"/>
        <result column="cms_image" property="cmsImage"/>
        <result column="cms_content" property="cmsContent"/>
        <result column="cms_sort" property="cmsSort"/>
        <result column="add_time" property="addTime"/>
        <result column="see_num" property="seeNum"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cms_id, cms_title, cms_author, cate_id, cate_name, cms_image, cms_content, cms_sort, add_time, see_num
    </sql>

</mapper>
