<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.generator.CoinCustomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.app.generator.Coin">
        <id column="coin_id" property="coin_id"/>
        <result column="order_sn" property="order_sn"/>
        <result column="user_id" property="user_id"/>
        <result column="user_name" property="user_name"/>
        <result column="coin_amount" property="coin_amount"/>
        <result column="order_amount" property="order_amount"/>
        <result column="pay_type" property="pay_type"/>
        <result column="pay_out_sn" property="pay_out_sn"/>
        <result column="add_time" property="add_time"/>
        <result column="pay_state" property="pay_state"/>
        <result column="pay_time" property="pay_time"/>
        <result column="pdr_admin" property="pdr_admin"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        coin_id, order_sn, user_id, user_name, coin_amount, order_amount, pay_type, pay_out_sn, add_time, pay_state, pay_time, pdr_admin
    </sql>

    <select id="selectPage" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from g_coin
        where del = 0
        <if test=" param.search1 != ''">
            and g_coin.name LIKE CONCAT('%',#{param.search1},'%')
        </if>

    </select>
</mapper>
