<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.generator.CoinLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.app.generator.CoinLog">
        <id column="log_id" property="logId"/>
        <result column="log_user_id" property="logUserId"/>
        <result column="log_user_name" property="logUserName"/>
        <result column="log_admin_id" property="logAdminId"/>
        <result column="log_admin_name" property="logAdminName"/>
        <result column="log_type" property="logType"/>
        <result column="log_av_coin" property="logAvCoin"/>
        <result column="log_freeze_coin" property="logFreezeCoin"/>
        <result column="log_mark" property="logMark"/>
        <result column="add_time" property="addTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        log_id, log_user_id, log_user_name, log_admin_id, log_admin_name, log_type, log_av_coin, log_freeze_coin, log_mark, add_time
    </sql>

    <select id="selectPage" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from g_coin_log
        where del = 0
        <if test=" param.search1 != ''">
            and g_coin_log.name LIKE CONCAT('%',#{param.search1},'%')
        </if>

    </select>
</mapper>
