<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.generator.CoinMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.app.generator.Coin">
        <id column="coin_id" property="coinId"/>
        <result column="order_sn" property="orderSn"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="coin_amount" property="coinAmount"/>
        <result column="order_amount" property="orderAmount"/>
        <result column="pay_type" property="payType"/>
        <result column="pay_out_sn" property="payOutSn"/>
        <result column="add_time" property="addTime"/>
        <result column="pay_state" property="payState"/>
        <result column="pay_time" property="payTime"/>
        <result column="pdr_admin" property="pdrAdmin"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        coin_id, order_sn, user_id, user_name, coin_amount, order_amount, pay_type, pay_out_sn, add_time, pay_state, pay_time, pdr_admin
    </sql>

</mapper>
