<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.generator.PdCashMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.app.generator.PdCash">
        <id column="pdc_id" property="pdcId"/>
        <result column="pdc_sn" property="pdcSn"/>
        <result column="pdc_member_id" property="pdcMemberId"/>
        <result column="pdc_member_name" property="pdcMemberName"/>
        <result column="pdc_amount" property="pdcAmount"/>
        <result column="pdc_bank_name" property="pdcBankName"/>
        <result column="pdc_bank_no" property="pdcBankNo"/>
        <result column="pdc_bank_user" property="pdcBankUser"/>
        <result column="pdc_add_time" property="pdcAddTime"/>
        <result column="pdc_payment_time" property="pdcPaymentTime"/>
        <result column="pdc_payment_state" property="pdcPaymentState"/>
        <result column="pdc_payment_admin" property="pdcPaymentAdmin"/>
        <result column="refuse_reason" property="refuseReason"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pdc_id, pdc_sn, pdc_member_id, pdc_member_name, pdc_amount, pdc_bank_name, pdc_bank_no, pdc_bank_user, pdc_add_time, pdc_payment_time, pdc_payment_state, pdc_payment_admin, refuse_reason
    </sql>

</mapper>
