<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.generator.PdCashCustomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.app.generator.PdCash">
        <id column="pdc_id" property="pdc_id"/>
        <result column="pdc_sn" property="pdc_sn"/>
        <result column="pdc_member_id" property="pdc_member_id"/>
        <result column="pdc_member_name" property="pdc_member_name"/>
        <result column="pdc_amount" property="pdc_amount"/>
        <result column="pdc_bank_name" property="pdc_bank_name"/>
        <result column="pdc_bank_no" property="pdc_bank_no"/>
        <result column="pdc_bank_user" property="pdc_bank_user"/>
        <result column="pdc_add_time" property="pdc_add_time"/>
        <result column="pdc_payment_time" property="pdc_payment_time"/>
        <result column="pdc_payment_state" property="pdc_payment_state"/>
        <result column="pdc_payment_admin" property="pdc_payment_admin"/>
        <result column="refuse_reason" property="refuse_reason"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pdc_id, pdc_sn, pdc_member_id, pdc_member_name, pdc_amount, pdc_bank_name, pdc_bank_no, pdc_bank_user, pdc_add_time, pdc_payment_time, pdc_payment_state, pdc_payment_admin, refuse_reason
    </sql>

    <select id="selectPage" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from g_pd_cash
        where del = 0
        <if test=" param.search1 != ''">
            and g_pd_cash.name LIKE CONCAT('%',#{param.search1},'%')
        </if>

    </select>
</mapper>
