<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.generator.ShareLogCustomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.app.generator.ShareLog">
        <id column="sl_id" property="sl_id"/>
        <result column="user_id" property="user_id"/>
        <result column="share_id" property="share_id"/>
        <result column="share_coin" property="share_coin"/>
        <result column="share_money" property="share_money"/>
        <result column="share_state" property="share_state"/>
        <result column="add_time" property="add_time"/>
        <result column="check_time" property="check_time"/>
        <result column="is_pass" property="is_pass"/>
        <result column="reward_type" property="reward_type"/>
        <result column="content" property="content"/>
        <result column="account_id" property="account_id"/>
        <result column="math_id" property="math_id"/>
        <result column="mid" property="mid"/>
        <result column="master_id" property="master_id"/>
        <result column="log_id" property="log_id"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sl_id, user_id, share_id, share_coin, share_money, share_state, add_time, check_time, is_pass, reward_type, content, account_id, math_id, mid, master_id, log_id
    </sql>

    <select id="selectPage" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from g_share_log
        where del = 0
        <if test=" param.search1 != ''">
            and g_share_log.name LIKE CONCAT('%',#{param.search1},'%')
        </if>

    </select>
</mapper>
