<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.generator.ShareMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.app.generator.Share">
        <id column="share_id" property="shareId"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="account_id" property="accountId"/>
        <result column="share_content" property="shareContent"/>
        <result column="share_image" property="shareImage"/>
        <result column="share_type" property="shareType"/>
        <result column="share_url" property="shareUrl"/>
        <result column="share_coin" property="shareCoin"/>
        <result column="share_num" property="shareNum"/>
        <result column="have_shared_num" property="haveSharedNum"/>
        <result column="total_coin" property="totalCoin"/>
        <result column="is_original" property="isOriginal"/>
        <result column="add_time" property="addTime"/>
        <result column="tag_id" property="tagId"/>
        <result column="tag_name" property="tagName"/>
        <result column="share_state" property="shareState"/>
        <result column="share_extra_coin" property="shareExtraCoin"/>
        <result column="share_status" property="shareStatus"/>
        <result column="share_video" property="shareVideo"/>
        <result column="wb_id" property="wbId"/>
        <result column="see_num" property="seeNum"/>
        <result column="share_recommend" property="shareRecommend"/>
        <result column="share_num_true" property="shareNumTrue"/>
        <result column="original_coin" property="originalCoin"/>
        <result column="from_app" property="fromApp"/>
        <result column="expires" property="expires"/>
        <result column="json" property="json"/>
        <result column="cancel_nums" property="cancelNums"/>
        <result column="background_image" property="backgroundImage"/>
        <result column="short_url" property="shortUrl"/>
        <result column="share_img" property="shareImg"/>
        <result column="coin_max" property="coinMax"/>
        <result column="coin_min" property="coinMin"/>
        <result column="cost_num" property="costNum"/>
        <result column="account_name" property="accountName"/>
        <result column="account_avatar" property="accountAvatar"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        share_id, user_id, user_name, account_id, share_content, share_image, share_type, share_url, share_coin, share_num, have_shared_num, total_coin, is_original, add_time, tag_id, tag_name, share_state, share_extra_coin, share_status, share_video, wb_id, see_num, share_recommend, share_num_true, original_coin, from_app, expires, json, cancel_nums, background_image, short_url, share_img, coin_max, coin_min
    </sql>

    <select id="selectPageVo" resultMap="BaseResultMap">
        SELECT
            s.*, sl.cost_num
        FROM
            g_share s
        LEFT JOIN (
            SELECT
                share_id,
                <if test=" typeId == 1">
                    sum(share_money) AS cost_num
                </if>
                <if test=" typeId == 0">
                    sum(share_coin) AS cost_num
                </if>
            FROM
                g_share_log
            GROUP BY
                (share_id)
        ) AS sl ON sl.share_id = s.share_id
        WHERE
            s.share_status = #{typeId}
            <if test=" page.search1 != ''">
                AND s.user_name LIKE CONCAT('%',#{page.search1},'%')
            </if>
            <if test=" page.search2 != ''">
                AND s.share_state LIKE CONCAT('%',#{page.search2},'%')
            </if>
            ORDER BY
            s.add_time DESC
    </select>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT
            s.*, u.account_name,
            u.account_avatar
        FROM
            g_share s
        LEFT JOIN g_user_account u ON u.account_id = s.account_id
        WHERE
            s.share_id = #{id}
    </select>
</mapper>
