<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.generator.ShareCustomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.app.generator.Share">
        <id column="share_id" property="share_id"/>
        <result column="user_id" property="user_id"/>
        <result column="user_name" property="user_name"/>
        <result column="account_id" property="account_id"/>
        <result column="share_content" property="share_content"/>
        <result column="share_image" property="share_image"/>
        <result column="share_type" property="share_type"/>
        <result column="share_url" property="share_url"/>
        <result column="share_coin" property="share_coin"/>
        <result column="share_num" property="share_num"/>
        <result column="have_shared_num" property="have_shared_num"/>
        <result column="total_coin" property="total_coin"/>
        <result column="is_original" property="is_original"/>
        <result column="add_time" property="add_time"/>
        <result column="tag_id" property="tag_id"/>
        <result column="tag_name" property="tag_name"/>
        <result column="share_state" property="share_state"/>
        <result column="share_extra_coin" property="share_extra_coin"/>
        <result column="share_status" property="share_status"/>
        <result column="share_video" property="share_video"/>
        <result column="wb_id" property="wb_id"/>
        <result column="see_num" property="see_num"/>
        <result column="share_recommend" property="share_recommend"/>
        <result column="share_num_true" property="share_num_true"/>
        <result column="original_coin" property="original_coin"/>
        <result column="from_app" property="from_app"/>
        <result column="expires" property="expires"/>
        <result column="json" property="json"/>
        <result column="cancel_nums" property="cancel_nums"/>
        <result column="background_image" property="background_image"/>
        <result column="short_url" property="short_url"/>
        <result column="share_img" property="share_img"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        share_id, user_id, user_name, account_id, share_content, share_image, share_type, share_url, share_coin, share_num, have_shared_num, total_coin, is_original, add_time, tag_id, tag_name, share_state, share_extra_coin, share_status, share_video, wb_id, see_num, share_recommend, share_num_true, original_coin, from_app, expires, json, cancel_nums, background_image, short_url, share_img
    </sql>

    <select id="selectPage" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from g_share
        where del = 0
        <if test=" param.search1 != ''">
            and g_share.name LIKE CONCAT('%',#{param.search1},'%')
        </if>

    </select>
</mapper>
