<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.generator.ShareLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.app.generator.ShareLog">
        <id column="sl_id" property="slId"/>
        <result column="user_id" property="userId"/>
        <result column="share_id" property="shareId"/>
        <result column="share_coin" property="shareCoin"/>
        <result column="share_money" property="shareMoney"/>
        <result column="share_state" property="shareState"/>
        <result column="add_time" property="addTime"/>
        <result column="check_time" property="checkTime"/>
        <result column="is_pass" property="isPass"/>
        <result column="reward_type" property="rewardType"/>
        <result column="content" property="content"/>
        <result column="account_id" property="accountId"/>
        <result column="math_id" property="mathId"/>
        <result column="mid" property="mid"/>
        <result column="master_id" property="masterId"/>
        <result column="log_id" property="logId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sl_id, user_id, share_id, share_coin, share_money, share_state, add_time, check_time, is_pass, reward_type, content, account_id, math_id, mid, master_id, log_id
    </sql>

</mapper>
