<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.generator.ShopHisMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.app.generator.ShopHis">
        <id column="id" property="id" />
        <result column="s_id" property="sId" />
        <result column="u_id" property="uId" />
        <result column="c_id" property="cId" />
        <result column="state" property="state" />
        <result column="address" property="address" />
        <result column="name" property="name" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, s_id, u_id, c_id, state, address, name, update_time
    </sql>

</mapper>
