<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.generator.SmsCustomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.app.generator.Sms">
        <id column="sms_id" property="sms_id"/>
        <result column="sms_mobi" property="sms_mobi"/>
        <result column="sms_content" property="sms_content"/>
        <result column="sms_type" property="sms_type"/>
        <result column="add_time" property="add_time"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sms_id, sms_mobi, sms_content, sms_type, add_time
    </sql>

    <select id="selectPage" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from g_sms
        where del = 0
        <if test=" param.search1 != ''">
            and g_sms.name LIKE CONCAT('%',#{param.search1},'%')
        </if>

    </select>
</mapper>
