<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.generator.SystemMsgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.app.generator.SystemMsg">
        <id column="notice_id" property="noticeId"/>
        <result column="notice_type" property="noticeType"/>
        <result column="notice_content" property="noticeContent"/>
        <result column="is_new" property="isNew"/>
        <result column="author_name" property="authorName"/>
        <result column="add_time" property="addTime"/>
        <result column="type" property="type"/>
        <result column="data" property="data"/>
        <result column="is_all" property="isAll"/>
        <result column="is_base64" property="isBase64"/>
        <result column="user_name" property="userName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        notice_id, notice_type, notice_content, is_new, author_name, add_time, type, data, is_all, is_base64
    </sql>

    <select id="selectPageVo" resultMap="BaseResultMap">
        SELECT
            sm.*, u.user_name
        FROM
            g_system_msg sm
        LEFT JOIN g_user u ON u.user_id = sm.`data`
        WHERE
            sm.notice_type = 'system'
        <if test=" page.search1 != ''">
            AND sm.notice_content LIKE CONCAT('%',#{page.search1},'%')
        </if>
        ORDER BY sm.add_time DESC
    </select>
</mapper>
