<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.app.generator.UserTokenCustomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.app.generator.UserToken">
        <id column="ut_id" property="ut_id"/>
        <result column="user_id" property="user_id"/>
        <result column="user_name" property="user_name"/>
        <result column="user_token" property="user_token"/>
        <result column="add_time" property="add_time"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ut_id, user_id, user_name, user_token, add_time
    </sql>

    <select id="selectPage" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from g_user_token
        where del = 0
        <if test=" param.search1 != ''">
            and g_user_token.name LIKE CONCAT('%',#{param.search1},'%')
        </if>

    </select>
</mapper>
