spring:
  profiles:
    active: @profileActive@

# 配置mybatis-plus
mybatis-plus:
  mapper-locations: classpath*:mapper/*/*/**Mapper.xml
  typeAliasesPackage: com.jokerdata.entity
  global-config:
    db-config:
      logic-delete-value: 1 # 逻辑已删除值(默认为 1)
      logic-not-delete-value: 0 # 逻辑未删除值(默认为 0)
  configuration:
    map-underscore-to-camel-case: true

#IP代理接口配置
proxyip:
  API_URL: http://webapi.http.zhimacangku.com/getip?num=1&msgType=2&pro=&city=0&yys=0&port=11&time=1&ts=1&ys=0&cs=1&lb=1&sb=0&pb=4&mr=1&regions=