spring:
  profiles:
    active: @profileActive@
  http:
    encoding:
      force: true
      charset: UTF-8
      enabled: true
server:
  tomcat:
    uri-encoding: UTF-8


# 配置mybatis-plus
mybatis-plus:
  mapper-locations: classpath*:mapper/*/*/**Mapper.xml
  typeAliasesPackage: com.jokerdata.entity
  global-config:
    db-config:
      logic-delete-value: 1 # 逻辑已删除值(默认为 1)
      logic-not-delete-value: 0 # 逻辑未删除值(默认为 0)
  configuration:
    map-underscore-to-camel-case: true

#第三方登陆接口配置
wechat:
 AppID: wxa4a19403389e6c81
 AppSecret: 73f91942713ca1bbca1ccf2990f5150d
 Wechat_BaseURI: https://api.weixin.qq.com/sns/oauth2/access_token

#passageway模块接口配置
passageway:
  PASSAGEWAY_BASE_URL: http://localhost:8091/
  GET_JOBS_URL: job/getAllJobs
  ADD_JOB_URL: job/add
  RUN_JOB_URL: job/run
  PAUSE_JOB_URL: job/pause
  RESUME_JOB_URL: job/resume
  DELETE_JOB_URL: job/delete
  GET_JOB_URL: job/getByName

  # 极光推送
jpush:
    MasterSecret: 76f29adc246022dbf4d782dc
    AppKey: 542c3a2607779c10e6c40178


#IP代理接口配置
proxyip:
  API_URL: http://webapi.http.zhimacangku.com/getip?num=1&msgType=2&pro=&city=0&yys=0&port=11&time=1&ts=1&ys=0&cs=1&lb=1&sb=0&pb=4&mr=1&regions=