<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jokerdata.mapper.admin.custom.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jokerdata.entity.admin.generator.CustomerUser">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_mobile" property="userMobile"/>
        <result column="user_password" property="userPassword"/>
        <result column="user_gender" property="userGender"/>
        <result column="user_state" property="userState"/>
        <result column="add_time" property="addTime"/>
        <result column="user_pay_pwd" property="userPayPwd"/>
        <result column="wechat_openid" property="wechatOpenid"/>
        <result column="alipay_account" property="alipayAccount"/>
        <result column="available_predeposit" property="availablePredeposit"/>
        <result column="freeze_predeposit" property="freezePredeposit"/>
        <result column="user_coin" property="userCoin"/>
        <result column="sign_limit" property="signLimit"/>
        <result column="coin_total" property="coinTotal"/>
        <result column="user_qq" property="userQq"/>
        <result column="user_email" property="userEmail"/>
        <result column="user_wx" property="userWx"/>
        <result column="alipay_name" property="alipayName"/>
        <result column="s_num" property="shareCount"/>
        <result column="delete_flg" property="deleteFlg"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, user_name, user_mobile, user_password, user_gender, user_state, add_time, user_pay_pwd, wechat_openid, alipay_account, available_predeposit, freeze_predeposit, user_coin, sign_limit, coin_total, user_qq, user_email, user_wx, alipay_name, delete_flg
    </sql>

    <select id="selectPageVo" resultMap="BaseResultMap">
        SELECT
        g_user.user_id,
        g_user.user_name,
        g_user.user_mobile,
        g_user.user_state,
        g_user.add_time,
        g_user.available_predeposit,
        g_user.freeze_predeposit,
        g_user.user_coin,
        g_user.coin_total
        FROM
        g_user
        WHERE delete_flg = 0
        <if test=" page.search1 != ''">
            AND user_name LIKE CONCAT('%',#{page.search1},'%')
        </if>
        <if test=" page.search2 != ''">
            AND user_mobile LIKE CONCAT('%',#{page.search2},'%')
        </if>
        <if test=" page.search3 != ''">
            AND user_id LIKE CONCAT('%',#{page.search3},'%')
        </if>
    </select>

    <select id="selectRankingPageVo" resultMap="BaseResultMap">
        SELECT
        u.user_id,
        u.user_name,
        u.user_mobile,
        u.user_state,
        u.add_time,
        u.available_predeposit,
        u.freeze_predeposit,
        u.user_coin,
        u.coin_total,
        s.s_num
        FROM
        g_user u
        LEFT JOIN (
        SELECT
        user_id,
        count(sl_id) AS s_num
        FROM
        g_share_log
        WHERE
        is_pass = 1
        GROUP BY
        (user_id)
        ) AS s ON s.user_id = u.user_id
        WHERE u.delete_flg = 0
        <if test=" page.search1 != ''">
            AND u.user_name LIKE CONCAT('%',#{page.search1},'%')
        </if>
        <if test=" page.search2 != ''">
            AND u.user_mobile LIKE CONCAT('%',#{page.search2},'%')
        </if>
        <if test=" page.search3 != ''">
            AND u.user_id LIKE CONCAT('%',#{page.search3},'%')
        </if>
        ORDER BY
        s_num DESC
    </select>

</mapper>
